/*
@File: Maruf Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Banner Area CSS
** - Story Area CSS
** - Contact Area CSS

*******************************************
*/
/*
Default Style
============================*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600&family=Dancing+Script:wght@700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  font-family: "Catamaran", sans-serif;
  color: #222;
  background: #222;
  cursor: none;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: #ff8400;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
  color: rgba(69, 86, 130, 0.8);
  color: #ff8400;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pt-page {
  width: 100%;
  height: 100%;
  overflow: auto !important;
}

.ptb-50 {
  padding: 50px 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

.form-control {
  height: 50px;
  color: #fff !important;
  border: 1px solid #111111;
  border-radius: 50px;
  padding: 0;
  font-size: 16px;
  padding: 10px 20px;
  background: #222;
  border-radius: 5px;
  width: 90%;
}

.form-control::-webkit-input-placeholder {
  color: #ddd;
  font-size: 13px;
}

.form-control:-ms-input-placeholder {
  color: #ddd;
  font-size: 13px;
}

.form-control::-ms-input-placeholder {
  color: #ddd;
  font-size: 13px;
}

.form-control::placeholder {
  color: #ddd;
  font-size: 13px;
}

.form-control:focus {
  color: #000000;
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: 0;
  border: 1px solid transparent;
}

textarea.form-control {
  max-height: 170px;
  min-height: 170px;
  padding-left: 25px;
  padding-top: 15px;
  border-radius: 5px;
  width: 95%;
}

.form-control:hover:focus,
.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background: rgba(51, 51, 51, 0.301);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

@-webkit-keyframes rotaed360 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes rotaed360 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

@-webkit-keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

/** Preloader Css **/
.preloader {
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 9999999;
  background-color: transparent;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.preloader .loader {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.preloader .loader .loader-outter {
  position: absolute;
  border: 4px solid #ffbe00;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: loader-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader .loader-inner {
  position: absolute;
  border: 3px solid #ff6a00;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
          animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.preloader .loader span {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffbe00;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 600;
}

.preloader::before, .preloader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  background: #111111;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.preloader::after {
  left: auto;
  right: 0;
}

.preloader.preloader-deactivate {
  visibility: hidden;
}

.preloader.preloader-deactivate::after, .preloader.preloader-deactivate::before {
  width: 0;
}

.preloader.preloader-deactivate .loader {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/** Cursor Css **/
.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 5px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  visibility: hidden;
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 10000001;
  background-color: #ffbe00;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
  margin-left: -35px;
  margin-top: -35px;
  width: 60px;
  height: 60px;
  background-color: #ffbe00;
  opacity: 0.3;
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.5;
  -webkit-transition: all 0.08s ease-out;
  transition: all 0.08s ease-out;
}

.cursor-outer.cursor-hover {
  opacity: 0;
}

/** Section tittle Css **/
.section-title {
  position: relative;
}

.section-title span {
  position: relative;
}

.section-title h2 {
  font-size: 40px;
  color: #fff;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.section-title h2::before {
  position: absolute;
  content: "";
  background: url(../images/shape/v1.png) no-repeat;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/** Box Btn Css **/
.box-btn {
  font-size: 16px;
  color: #ffffff;
  padding: 12px 25px;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  background-color: #222;
  border: 1px solid #222;
}

.box-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 200%;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(75%, #fff), to(#fff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 75%, #fff);
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-btn:hover {
  color: #fff;
}

.box-btn:hover::before {
  left: -200%;
}

/*
Profile Area Css
======================================================*/
.profile {
  position: relative;
  background: #111111;
  height: 96vh;
  margin: 2vh 0;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.profile .profile-img {
  position: relative;
}

.profile .profile-img img {
  border-radius: 50%;
  padding: 40px;
}

.profile .profile-content {
  text-align: center;
  margin-top: 30px;
}

.profile .profile-content span {
  margin-bottom: 15px;
  color: #ffbe00;
}

.profile .profile-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #ffffff;
}

.profile .profile-content h6 {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 15px;
}

.profile .shape {
  position: absolute;
  top: 1px;
  padding: 10px;
  -webkit-animation: rotaed360 40s linear infinite;
          animation: rotaed360 40s linear infinite;
}

.profile::after {
  content: "";
  width: 30vmax;
  height: 30vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -20vmin;
  bottom: -20vmin;
  -webkit-animation: morph 15s linear infinite alternate, spin 20s linear infinite;
          animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  -webkit-transform-origin: 55% 55%;
          transform-origin: 55% 55%;
  pointer-events: none;
}

.content {
  height: calc(96vh - 55px) !important;
  margin-top: 2vh;
  width: 100%;
}

.content .navbar-area {
  height: 55px;
  overflow: hidden;
  width: 100%;
  background: transparent;
  position: relative;
  padding: 0;
}

.content .navbar-area .main-nav {
  background: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 0;
}

.content .navbar-area .main-nav .navbar {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.content .navbar-area .main-nav .navbar ul {
  list-style-type: none;
  margin-bottom: 0;
}

.content .navbar-area .main-nav .navbar .navbar-nav {
  margin-right: 0;
}

.content .navbar-area .main-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding: 0;
}

.content .navbar-area .main-nav .navbar .navbar-nav .nav-item a {
  width: 40px;
  height: 40px;
  background: #222;
  -webkit-box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px black;
          box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px black;
  border-radius: 5px;
  text-align: center;
  line-height: 43px;
  overflow: hidden;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  text-transform: capitalize;
  padding: 0;
  margin-left: 0;
  margin-right: 30px;
}

.content .navbar-area .main-nav .navbar .navbar-nav .nav-item a:hover, .content .navbar-area .main-nav .navbar .navbar-nav .nav-item a:focus, .content .navbar-area .main-nav .navbar .navbar-nav .nav-item a.active {
  color: #ffbe00;
}

.content .navbar-area .main-nav .navbar .navbar-nav .nav-item a i {
  font-size: 20px;
  position: relative;
  top: 2px;
  margin-left: 1px;
}

.content .navbar-area .main-nav .navbar .navbar-nav .nav-item:hover a, .content .navbar-area .main-nav .navbar .navbar-nav .nav-item.active a {
  background-image: radial-gradient(#ffc10775, transparent);
}

.content .navbar-area .main-nav .navbar .navbar-nav .nav-item:hover a i, .content .navbar-area .main-nav .navbar .navbar-nav .nav-item.active a i {
  color: #ffbe00;
  -webkit-animation: blink 0.3s both;
          animation: blink 0.3s both;
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}

.content .main-content {
  overflow: hidden;
  height: 100% !important;
  border-radius: 5px;
  width: 100%;
  background: #111111;
  position: relative;
}

.content .main-content .home-area {
  position: relative;
  z-index: 1;
  height: 100%;
}

.content .main-content .home-area .home-content {
  text-align: center;
}

.content .main-content .home-area .home-content span {
  color: #ffbe00;
}

.content .main-content .home-area .home-content h1 {
  font-size: 90px;
  color: #fff;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  position: relative;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

.content .main-content .home-area .home-content h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -2px;
  right: 0;
  overflow: hidden;
  background: transparent;
  color: #fff;
  clip: rect(0, 900px, 0, 0);
  text-shadow: 1px 0 green;
  animation: glitch-effect 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(92px, 9999px, 41px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 46px, 0);
  }
  20% {
    clip: rect(15px, 9999px, 56px, 0);
  }
  30% {
    clip: rect(88px, 9999px, 53px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 21px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 7px, 0);
  }
  60% {
    clip: rect(2px, 9999px, 98px, 0);
  }
  70% {
    clip: rect(10px, 9999px, 51px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 30px, 0);
  }
  90% {
    clip: rect(97px, 9999px, 63px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 13px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(92px, 9999px, 41px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 46px, 0);
  }
  20% {
    clip: rect(15px, 9999px, 56px, 0);
  }
  30% {
    clip: rect(88px, 9999px, 53px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 21px, 0);
  }
  50% {
    clip: rect(11px, 9999px, 7px, 0);
  }
  60% {
    clip: rect(2px, 9999px, 98px, 0);
  }
  70% {
    clip: rect(10px, 9999px, 51px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 30px, 0);
  }
  90% {
    clip: rect(97px, 9999px, 63px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 13px, 0);
  }
}

.content .main-content .home-area .social {
  text-align: center;
}

.content .main-content .home-area .social ul li {
  display: inline-block;
}

.content .main-content .home-area .social ul li a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 38px;
  font-size: 18px;
  border: 1px solid;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #111;
  -webkit-box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px black;
          box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px black;
  border-radius: 5px;
}

.content .main-content .home-area .social ul li a i {
  color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content .main-content .home-area .social ul li a:hover i.bx.bxl-facebook {
  color: #3b5999;
}

.content .main-content .home-area .social ul li a:hover i.bx.bxl-twitter {
  color: #55acee;
}

.content .main-content .home-area .social ul li a:hover i.bx.bxl-instagram {
  color: #e4405f;
}

.content .main-content .home-area .social ul li a:hover i.bx.bxl-behance {
  color: #053eff;
}

.content .main-content .home-area .social ul li a:hover i.bx.bxl-dribbble {
  color: #ea4c89;
}

.content .main-content .home-area .home-shape .shape1 {
  top: 0;
  left: 0;
  position: absolute;
}

.content .main-content .home-area .home-shape .shape2 {
  right: 0;
  bottom: 0;
  position: absolute;
}

.content .main-content .home-area .home-shape .shape3 {
  top: 49%;
  left: 76%;
  position: absolute;
  z-index: -1;
}

.content .main-content .home-area .home-shape .shape4 {
  top: 10%;
  left: 50%;
  position: absolute;
  -webkit-animation: rotaed360 15s linear infinite;
          animation: rotaed360 15s linear infinite;
}

.content .main-content .home-area .home-shape .shape5 {
  bottom: 24%;
  left: 5%;
  position: absolute;
  -webkit-animation: animationFramesOne 10s linear infinite;
          animation: animationFramesOne 10s linear infinite;
}

.content .main-content .home-area .home-shape .shape6 {
  top: 1%;
  right: 15%;
  position: absolute;
  -webkit-animation: animationFramesOne 15s linear infinite;
          animation: animationFramesOne 15s linear infinite;
}

.content .main-content .home-area::after {
  content: "";
  width: 40vmax;
  height: 40vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  right: -20vmin;
  top: -20vmin;
  -webkit-animation: morph 15s linear infinite alternate, spin 20s linear infinite;
          animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  -webkit-transform-origin: 55% 55%;
          transform-origin: 55% 55%;
  pointer-events: none;
}

.content .main-content .about-area {
  position: relative;
  z-index: 0;
}

.content .main-content .about-area .section-title h2 {
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}

.content .main-content .about-area .about {
  position: relative;
}

.content .main-content .about-area .about p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
}

.content .main-content .about-area .about p span {
  color: #ffbe00;
  font-weight: bold;
}

.content .main-content .about-area .about .about-list {
  background: #222;
  border-radius: 5px;
  padding: 30px 20px;
}

.content .main-content .about-area .about .about-list p {
  font-size: 15px;
}

.content .main-content .about-area .about .about-list span {
  margin-left: 7px;
  font-weight: normal;
}

.content .main-content .about-area .services {
  position: relative;
}

.content .main-content .about-area .services .single-service {
  position: relative;
  padding: 30px;
  background: #222;
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;
}

.content .main-content .about-area .services .single-service .service-icon {
  -webkit-box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px black;
          box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.1), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px black;
  position: relative;
  border-radius: 50%;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 72px;
  font-size: 35px;
}

.content .main-content .about-area .services .single-service .service-icon i {
  color: #ffbe00;
}

.content .main-content .about-area .services .single-service .service-icon .circles-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-animation: rotaed360 20s linear infinite;
          animation: rotaed360 20s linear infinite;
}

.content .main-content .about-area .services .single-service .service-icon .circles-box .circle-one {
  position: absolute;
  left: 8px;
  bottom: 0px;
  width: 12px;
  height: 12px;
  z-index: 1;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content .main-content .about-area .services .single-service .service-icon .circles-box .circle-two {
  position: absolute;
  top: 0px;
  right: 8px;
  width: 12px;
  height: 12px;
  z-index: 1;
  border-radius: 50%;
  background-color: #111111;
}

.content .main-content .about-area .services .single-service::after {
  content: "";
  width: 30vmax;
  height: 30vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  right: -20vmin;
  bottom: -10vmin;
  -webkit-animation: morph 15s linear infinite alternate, spin 20s linear infinite;
          animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  -webkit-transform-origin: 55% 55%;
          transform-origin: 55% 55%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content .main-content .about-area .services .single-service .service-content h2 {
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
}

.content .main-content .about-area .services .single-service .service-content p {
  color: #ffffff;
  font-size: 15px;
}

.content .main-content .about-area .services .single-service:hover .service-icon .circle-one {
  background: green;
}

.content .main-content .about-area .services .single-service:hover::after {
  opacity: 1;
}

.content .main-content .about-area .review-area {
  position: relative;
  padding-bottom: 0;
}

.content .main-content .about-area .review-area .single-slider {
  position: relative;
  padding: 30px;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.content .main-content .about-area .review-area .single-slider .testimonial-item {
  padding: 30px;
  position: relative;
  padding: 30px 20px 20px 60px;
  border-radius: 8px;
  border: 2px solid #222;
}

.content .main-content .about-area .review-area .single-slider .testimonial-item .review-img {
  position: absolute;
  display: block;
  top: -30px;
  left: -30px;
  width: 80px;
  height: 80px;
}

.content .main-content .about-area .review-area .single-slider .testimonial-item .review-img img {
  border-radius: 50%;
  border: 1px solid;
  padding: 5px;
}

.content .main-content .about-area .review-area .single-slider .testimonial-item .review-content p {
  font-style: italic;
  color: #ffffff;
}

.content .main-content .about-area .review-area .single-slider .testimonial-item .review-content h5 {
  font-size: 19px;
  margin-bottom: 0;
  color: #ffffff;
}

.content .main-content .about-area .review-area .single-slider .testimonial-item .review-content span {
  font-size: 13px;
  color: #eee;
}

.content .main-content .about-area .review-area .single-slider .shape {
  position: absolute;
  right: -40px;
  bottom: -35px;
  opacity: 0.7;
  -webkit-animation: rotaed360 40s linear infinite;
          animation: rotaed360 40s linear infinite;
}

.content .main-content .about-area .review-area .owl-dots {
  margin-top: 0;
}

.content .main-content .about-area .review-area .owl-dots button span {
  width: 15px;
  height: 5px;
  border-radius: 0;
  background: #222;
  margin: 1px 2px;
}

.content .main-content .about-area .review-area .owl-dots button.active {
  background: #ffbe00;
}

.content .main-content .resume-area {
  position: relative;
  overflow: hidden;
}

.content .main-content .resume-area .single-resume {
  position: relative;
}

.content .main-content .resume-area .single-resume .sub-head {
  padding: 10px 0;
  position: relative;
  z-index: 1;
  margin: 20px 0;
}

.content .main-content .resume-area .single-resume .sub-head::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  background: url(../images/shape/v1.png) no-repeat;
  bottom: 2px;
}

.content .main-content .resume-area .single-resume .sub-head h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 0;
}

.content .main-content .resume-area .single-resume .sub-head h4 i {
  font-size: 20px;
  color: #ffbe00;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.content .main-content .resume-area .single-resume .experience {
  border-left: 1px solid #222;
  padding-left: 30px;
  margin-top: 30px;
}

.content .main-content .resume-area .single-resume .experience .single-experience {
  position: relative;
}

.content .main-content .resume-area .single-resume .experience .single-experience span {
  color: #ffbe00;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 8px 13px;
  position: relative;
  border: 1px solid #222;
  margin-bottom: 30px;
  line-height: 0;
  margin-left: -30px;
}

.content .main-content .resume-area .single-resume .experience .single-experience span::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #222;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 9px;
  -webkit-animation: ripple 1.6s ease-out infinite;
          animation: ripple 1.6s ease-out infinite;
}

@-webkit-keyframes ripple {
  0%,
  35% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

@keyframes ripple {
  0%,
  35% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

.content .main-content .resume-area .single-resume .experience .single-experience span::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffbe00;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 15px;
}

.content .main-content .resume-area .single-resume .experience .single-experience span i {
  font-size: 14px;
  position: relative;
  top: 2px;
}

.content .main-content .resume-area .single-resume .experience .single-experience h3 {
  font-size: 21px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
  margin-top: 23px;
}

.content .main-content .resume-area .single-resume .experience .single-experience p {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 25px;
}

.content .main-content .resume-area .skill-area {
  position: relative;
  padding-bottom: 0;
}

.content .main-content .resume-area .skill-area .single-bar {
  margin-top: 20px;
}

.content .main-content .resume-area .skill-area .single-bar p {
  font-size: 18px;
  color: #eee;
  margin-bottom: 0;
}

.content .main-content .resume-area .skill-area .single-bar .barfiller {
  width: 100%;
  height: 5px;
  background: #222;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content .main-content .resume-area .skill-area .single-bar .barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
}

.content .main-content .resume-area .skill-area .single-bar .barfiller .tip {
  margin-top: -35px;
  padding: 2px 4px;
  font-size: 14px;
  color: #eee;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: none;
}

.content .main-content .resume-area .skill-area .single-bar .barfiller .tip::after {
  border: none;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9;
}

.content .main-content .resume-area .skill-area .single-bar .barfiller .tipWrap {
  display: none;
}

.content .main-content .resume-area .skill-area .circle-skill {
  position: relative;
}

.content .main-content .resume-area .skill-area .circle-skill .single-circule {
  position: relative;
  margin-top: 30px;
  text-align: center;
}

.content .main-content .resume-area .skill-area .circle-skill .single-circule .skill span {
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.07);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-27px) translateY(-42px);
          transform: translateX(-27px) translateY(-42px);
  font-size: 13px;
  text-align: center;
  color: #ffbe00;
}

.content .main-content .resume-area .skill-area .circle-skill .single-circule h6 {
  text-align: center;
  color: #eee;
  font-weight: 300;
}

.content .main-content .portfolio-area {
  position: relative;
}

.content .main-content .portfolio-area .mix-btn .filter {
  padding: 9px 20px;
}

.content .main-content .portfolio-area .mix-btn .filter.mixitup-control-active {
  background: #ffbe00;
}

.content .main-content .portfolio-area .mix-content .single-portfolio {
  position: relative;
  margin-top: 30px;
}

.content .main-content .portfolio-area .mix-content .single-portfolio .port-img {
  overflow: hidden;
}

.content .main-content .portfolio-area .mix-content .single-portfolio .port-img a img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content .main-content .portfolio-area .mix-content .single-portfolio .port-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  text-align: center;
  width: 93%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(34, 34, 34, 0.7);
  -webkit-transform: scale(0) skewY(20deg);
          transform: scale(0) skewY(20deg);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.content .main-content .portfolio-area .mix-content .single-portfolio .port-content h3,
.content .main-content .portfolio-area .mix-content .single-portfolio .port-content span {
  color: #ffffff;
}

.content .main-content .portfolio-area .mix-content .single-portfolio .port-content h3 {
  font-size: 20px;
}

.content .main-content .portfolio-area .mix-content .single-portfolio .port-content .icon a {
  width: 45px;
  height: 45px;
  background: #ffbe00;
  border-radius: 50%;
  text-align: center;
  line-height: 51px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
  color: #eee;
  -webkit-animation: rotaed360 3s linear infinite;
          animation: rotaed360 3s linear infinite;
}

.content .main-content .portfolio-area .mix-content .single-portfolio:hover .port-content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.content .main-content .portfolio-area .mix-content .single-portfolio:hover .port-img a img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.content .main-content .blog-area {
  position: relative;
}

.content .main-content .blog-area .single-blog {
  position: relative;
  margin-top: 30px;
}

.content .main-content .blog-area .single-blog .blog-img {
  overflow: hidden;
}

.content .main-content .blog-area .single-blog .blog-img a img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content .main-content .blog-area .single-blog .blog-content {
  padding: 30px;
  position: relative;
  background: #222;
  overflow: hidden;
  z-index: 1;
}

.content .main-content .blog-area .single-blog .blog-content h3 {
  color: #fff;
}

.content .main-content .blog-area .single-blog .blog-content .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main-content .blog-area .single-blog .blog-content .author li {
  margin-right: 20px;
  color: #eee;
}

.content .main-content .blog-area .single-blog .blog-content .author li h6 {
  font-size: 16px;
  line-height: normal;
  color: #eee;
  font-weight: 300;
}

.content .main-content .blog-area .single-blog .blog-content .author li span {
  font-style: italic;
  color: #ffbe00;
}

.content .main-content .blog-area .single-blog .blog-content .author li img {
  border-radius: 50%;
  margin-right: 4px;
}

.content .main-content .blog-area .single-blog .blog-content .like-com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.content .main-content .blog-area .single-blog .blog-content .like-com li {
  margin-right: 15px;
  color: #ffbe00;
}

.content .main-content .blog-area .single-blog .blog-content .like-com li i {
  position: relative;
  top: 2px;
  left: -1px;
}

.content .main-content .blog-area .single-blog .blog-content p {
  color: #eee;
  font-weight: 300;
}

.content .main-content .blog-area .single-blog .blog-content::after {
  content: "";
  width: 30vmax;
  height: 30vmax;
  position: absolute;
  background: #111111;
  right: -20vmin;
  bottom: -20vmin;
  -webkit-animation: morph 15s linear infinite alternate, spin 20s linear infinite;
          animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: -1;
  -webkit-transform-origin: 55% 35%;
          transform-origin: 55% 35%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .main-content .blog-area .single-blog:hover .blog-content::after {
  opacity: 1;
}

.content .main-content .blog-area .single-blog:hover .blog-img img {
  -webkit-transform: scale(1.1) skewX(5deg);
          transform: scale(1.1) skewX(5deg);
}

.content .main-content .contact-area {
  position: relative;
}

.content .main-content .contact-area #contactForm {
  position: relative;
  margin-top: 30px;
}

.content .main-content .contact-area .map {
  margin-top: 50px;
}

.content .main-content .contact-area .map iframe {
  width: 100%;
  height: 300px;
}
/*# sourceMappingURL=style.css.map */